
body {
    margin: 0 10%;
    text-shadow: 4px 4px 10px rgba(0,0,0,0.35);
}

form {
    border-radius: 12px;
    margin: 4vw 0vw;
    padding: 4vw 2vw;
    box-shadow: 2px 1px 18px rgba(0,0,0,0.19), 2px 2px 8px rgba(0,0,0,0.23);
}

.two-columns {
    display: grid;
    grid-template-columns: 35% minmax(30%, 300px);
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
}

.label-field {
    text-align: right;
    margin: 0.5vw;
    font-family: 'Francois One', sans-serif;
    align-self: center;
    color: hsla(197, 62%, 11%, 0.65);
}

.centered-text {
    text-align: center;
}

.justified-text {
    text-align: justify;
    border-collapse: separate;
}

.centered-item {
    align-self: center;
}

.two-columns-radio-checkbox {
    display: grid;
    grid-template-columns: .5vw auto;
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    margin: 0vw;
}


.radio-checkbox-label {
    /*margin-left: .8em;*/
    padding-left: 1em;
}

*[type="text"], *[type="email"], *[type="number"], select, option, textarea {
    padding: 0.5vw 1vw;
    font-size: medium;
    font-family: 'Hind Siliguri', sans-serif;
    color: hsla(0, 100%, 60%, 0.55);
}

.form-separator {
    grid-column: 1 / 3;
    height: 2vw;
}

.top-hr {
    margin: 3vw;
}

@media (max-width:800px)
{
    body {
        margin: 0 5%;
    }
}

.years-input {
    height: fit-content;
    align-self: center;
    width: fit-content;
}

input, select, textarea {
    border-width: 1px 2px 2px 1px;
    /*    border-top: 0;
        border-left: 0;*/
    border-radius: 12px;
    box-shadow: 2px 1px 18px rgba(0,0,0,0.19), 2px 2px 8px rgba(0,0,0,0.23);
}

.align-start {
    align-self: flex-start;
}

.notebook-bg {
    background-color: #fff;
    background-image: linear-gradient(90deg, transparent 10%, #abced4 11%, #abced4 11%, transparent 10%), linear-gradient(#eee 0.1em, transparent 0.1em);
    /*  background-image: linear-gradient(90deg, transparent 79px, #abced4 87px, #abced4 81px, transparent 81px), linear-gradient(#eee 0.1em, transparent 0.1em);*/
    background-size: 100% 2.2em;
    padding-left: 10%
}

.cover-bg {
    background-color: hsl(0, 53%, 82%);
    background-image: repeating-linear-gradient(23deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px, hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px, hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px, hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px, hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 120px, hsla(197, 62%, 11%, 0.5) 120px, hsla(197, 62%, 11%, 0.5) 140px ), repeating-linear-gradient(113deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px, hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px, hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px, hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px, hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 140px, hsla(197, 62%, 11%, 0.5) 140px, hsla(197, 62%, 11%, 0.5) 160px );
}

.covered-text {
    color: hsla(0, 0%, 100%, 1);
}

.title-text {
    margin: 0vw 0vw;
    font-family: 'Bungee', cursive;
    line-height: 1.35em;
}

.desc-text {
    margin:0 3vw 3vw 3vw;
    padding-left: 0%;
    font-family: 'Londrina Solid', cursive;
    font-size: x-large;
}


::placeholder {
    color: hsla(0, 100%, 60%, 0.28);
}

*[type="radio"], *[type="checkbox"] {
    margin: 0px 3px 0px 5px;
    align-self: center;
}

.five-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: .5vw;
    text-align: center;

}

.five-columns input {
    justify-self: center;
    margin: 1.5vw 0 0 0;
}

.two-rows {
    font-size: x-small;
    /*word-break: break-all;*/
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: flex-end;
}
